body{
    background-color: black;
    background-size: cover;
    background-repeat: no-repeat; /*ensures that background isnt repeat of same image*/
    background-attachment: fixed; /*ensures that background is static regardless of scroll*/
    font-family: 'Comfortaa', cursive;
    font-size: 20px;
}
.page{
    background-image: linear-gradient(to bottom right, grey, black);
}
/* ////////////////////////////////////////////////////////// */
/* top menu*/
.headerbar{
    position: fixed;
    width: 100%;
    z-index: 2;
}
nav{
    margin-left: 20px;
    margin-right: 40px;
    background: #333;
    border-radius: 20px;
    position: relative;
    z-index: 2;
}
nav ul{
    list-style-type: none;
    padding: 0;
}
nav a{
    text-decoration: none;
    text-align: left;
    color: #fff;
    display: block;
    padding: 10px;
}
nav a:hover{
    background-color: rebeccapurple;
    border-radius: 20px;
}
@media screen and (min-width: 768px){
    nav ul{
        display: flex;
    }
}

/* /////////////////////////////////////////////////////////////////////// */
/* Dropdown Contact */
.dropdown{
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;

}
.dropdown:hover .dropdown-content{
    display: block;
}
/* /////////////////////////////////////////////////////////////////////// */
/* top bar */
.header{
    /* contains general info for the header */
    width: 100%;
}
.flex-header{
    /* contains data for the entire flexbox that makes up the header */
    display: flex;
    justify-content: flex-start;
    background-image: linear-gradient(to right,white, purple);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.topbox{
    /* contains info for the boxes that make up the header */
    height: 250px;
    flex-grow: 1;
    border-radius: 10px;
    min-width: 200px;
}
/* below each contain info for each specific box */
.headtext{
    text-align: center;
    text-shadow: 2px 2px white;
    font-family: 'Oswald', sans-serif;
}
.topbox.two{
    font-size: 100%;
}
/* //////////////////////////////////////////////////////////////// */
/* GRID */
.content{
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    max-width: 1200px;
    margin: 0 auto;
    color: white;
    float: center;
    z-index: -1;
    border: white;
}
.content div{
    padding: 30px;
    background: transparent;
    align-items: left;
}
.content div:nth-child(even){
    background: transparent;
}
.about{
    width: 90%;
}
/* //////////////////////////////////////////////////////////////// */
/* content text */
.contenthead{
    vertical-align: text-bottom;
    text-align: center;
    text-shadow: 2px 2px white;
    color: rebeccapurple;
}
/* //////////////////////////////////////////////////////////////// */
/* spinny cube */
.cube-container{
    height: 200px;
    perspective: 300;
    position: relative;
    width: 200px;
    z-index: 0;
}
.cube {
    height: 100%;
    position: absolute;
    transform: translateZ(-100px);
    transform-style: preserve-3d;
    width: 100%;
}
.spin {
    cursor: pointer;
    transform-style: preserve-3d;
}

@keyframes spin-vertical {
	from { transform: rotateY(0); }
	to { transform: rotateY(360deg); }
}

.cube:hover{
    animation: spin-vertical 5s infinite linear;
}

.side{
    background: transparent;
    height: 200px;
    line-height: 200px;
    position: absolute;
    width: 200px;
}
.front {
    transform: translateZ(100px);
}
.back{
    transform: rotateY(180deg) translateZ(100px);
}
.right{
    transform: rotateY(90deg) translateZ(100px);
}
.left{
    transform: rotateY(-90deg) translateZ(100px);
}
/* //////////////////////////////////////////////////////////////// */
/* BOTTOM IMAGE FLEXBOX */
.imagecontainer{
    width: 100%;
}
.fleximg{
    display: flex;
    justify-content: flex-start;
    background-image: linear-gradient(to right, grey, gold);
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 20px;
    margin-bottom: 30px;
}
.box{
    height: 250px;
    flex-grow: 1;
    border-radius: 10px;
    min-width: 200px;
}

/* //////////////////////////////////////////////////////////////// */
/* IMAGES */
.logo{
    width: 90%;
    display: block;
}
.mic{
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.email{
    margin-top: 5px;
    height: 30px;
    float: left;
}
.linkedin{
    margin-top: 5px;
    height: 30px;
    float: left;
}
.facebook{
    margin-top: 5px;
    height: 30px;
    float: left;
}
.twitter{
    margin-top: 5px;
    height: 30px;
    float: left;
}
.github{
    margin-top: 5px;
    height: 30px;
    float: left;
}
.instagram{
    margin-top: 5px;
    height: 30px;
    float: left;
}
.colby{
    height: 100%;
}
.colby2{
    height: 100%;
}
.colby3{
    height: 100%;
}
.colby4{
    height: 100%;
}
.graduate{
    height: 300px;
    float: center;
}
.basketball{
    height: 100%;
}
.code{
    height: 100%;
}
.knight{
    height: 100%;
}